body{

    background-color: 	#dfe3ee;
    position: fixed;
    width: 100%;

}

.navbar.navbar-light{

    background-color: #3b5998;
    width: 10%;
   

}

#logo{

    border: 5px solid #8b9dc3;
    padding: 2px;
    border-radius: 10px;


}

#logo a{

    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    
}

#itens_menu{

    position: absolute;
    margin-left: 90px;
    padding: 10px;

}

.row.justify-content-md-center{

    padding-top: 25px;


}

footer {

    position: fixed;
    bottom:0;
    left:0;
    right: -500px;
    display: grid;
    background-color:	#cad2e9;

}

footer p{

    font-size: small;
    color: #3b5998;

}

.navbar.navbar-expand-lg.navbar-light{

    width: 102%;

}

#form_login{

    display: grid;
    position: fixed;
    right: 10px;
    

}

#contato_esq{

    background-color: #cad2e9;
    margin: 10px;
    padding: 5px;
    
    display: inline-block;
    float: left;



}

#contato_dir{

    background-color: #cad2e9;
    margin: 10px;
    padding: 5px;

    display: inline-block;
    float: right;
}


#container_adm{

    margin: 20px;

}

.card.text-white.bg-primary.mb-3{


    background-color: #8b9dc3 !important;

}

.navbar.navbar-expand-lg.navbar-light.bg-light{

    background-color: #3b5998 !important;

}

a{

    color: white !important;

}

p a{

    color: blue !important;

}

.btn_adm_h{
    border-radius: 20px;

    height: 180px;
    width: 180px;
    background-color: #8b9dc3;
    padding: 5px;
    margin: 20px;

    align-items: center;
    display: flex;
    justify-content: center;
    
}

.btn_main{

    margin-left: 20px;

}

#navbar-main{

    margin-left: 1000px;

}

.nav-item{

    margin-left: 25px;
}