@media print {

    nav{

        display: none !important;

    }

    .sidebar-container{

        display: none !important;

    }

    .table{

        position: absolute !important;
        margin-left: -1px !important;
        width: 750px !important;
        

    }



}

