@media print {

    nav{

        display: none !important;

    }

    .sidebar-container{

        display: none !important;

    }

    .table{

        position: absolute !important;
        max-width: 900px !important;
        

    }



}